version: '3.8'

services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: starsoft-challenge-container
    ports:
      - "3000:3000"
    volumes:
      - .:/app          
      - /app/node_modules 
      - /app/.next      
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true 